* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: hsl(30, 38%, 92%);
    overflow: hidden;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: row;
    margin:8% auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    
       
}

.img-container {
    width: 300px;
    height: 450px;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.descricao {
    width: 300px;
    height: 450px;
    padding: 32px;
}

h3 {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 14.63px;
    color: #6c7289;
}

h1 {
    margin-bottom: 24px;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #1c232b;
}

p {
    margin-bottom: 29px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #6c7289;
}

.valor {
    display: flex;
    gap: 19px;
    align-items: center;
    margin-bottom: 30px;
}

.onsale {
    font-size: 32px;
    line-height: 32px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #3d8168;
}

.org_valor {
    font-size: 13px;
    line-height: 23px;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #6c7289;    
}

button {
    width:236px;
    height: 48px;
    border-radius: 8px;
    background-color: #3d8168;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
}

button:hover {
    background: #1a4032;
}

button img {
    margin-right: 11.61px;    
}


@media (max-width:768px){
    .container{
        max-width: 100%;
        height: auto;
        flex-direction: column;        
    }

    .img-container{
        width: 100%;
        max-height: 400px;
        height: 240px;
        border-radius: 8px 8px 0px 0px;
        margin: 0 auto;
        background-image: url(./images/image-product-mobile.jpg); 
        background-size: cover;       
    }

    .descricao {
        padding: 24px;
    }  

    h3 {
        margin-bottom: 12px;
    }

    h1 {
        margin-bottom: 16px;        
    }

    p {
        margin-bottom: 24px;
    }

    .valor {
        margin-bottom: 20px;
    }       
}